*{margin: 0;padding: 0;list-style: none;}
.header{
    background-color: #a9661a;

    padding: 20px 20px 0px 20px;
}
.coffeelogo{
    width: 40px;
    height: 40px;
}
.nav{
    width: 100%;
}
.navzone{
    list-style: none;
}
.nav-list{
    margin: auto 0;
    justify-content: center;
}
.nav .nav-list-item{
    margin-right: 5px;
    /* background-color: rgb(225, 134, 78); */
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-list-item a{
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}
.nav-list-item:hover {
    transform: rotate(15deg);
    transform: scale(1.2);
    color: #1aa9a7;
}
.

.content-bg{
    background-image: url("../image/bgcoffee01.jpg");
    height: 80%;
}
.searchform{
    width: 300px;
}
section{
    /* background-color: #A79564; */
}
article p{
    color: #fff;
}
.content .asidebg{
    background-color:  rgba(000, 000, 000, .5);
}
aside{
}
.nav-m{
    margin-top: 20px;
}
aside li,li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.nav-item-li:hover a{
    margin-right: 50px;
    color: rgb(229, 164, 58);
    font-size:1.5rem;
    text-shadow:1px 2px 22px rgb(229, 164, 58);
}

.footer{
    background-color: #EFD691;
    /* margin: 0; */
    padding: 0;
    width: 100wv;
    height: 50px;
    line-height: 50px;
}

@media screen and (min-height: 576px){
    .content{height: 100%;}
}